<!DOCTYPE html>
<html>
  <head>
    <title>Career</title>
    <style>
      h1{
        text-align: center;
        font-family: roboto;
        color: rgb(100, 100, 100);
        font-weight:normal;
        font-size:50px;
      }
  #banner{
    width: 100%;
    height:360px;
    object-fit:cover;
  }
      #container{
        max-width:720px;
        margin:0 auto 0 auto;
      }
      .bodytext{
      font-size:25px;
      }
      
    </style>
  </head>
  <body>
    <div id="container">
    <center><h1>BASIC</h1></center>
   <center> <img id="banner" src="https://career-website.akhils16.repl.co/static/banner.jpg"height="320px"></center>
    <center><h2>About This Site</h2>
   </center>
    <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat nulla turpis, in molestie felis consequat id. Suspendisse tempus egestas eros, id condimentum justo luctus eu. Vivamus volutpat leo eu justo ornare pretium ut vitae risus. Duis eleifend magna non quam facilisis, ac ultrices est lacinia. Nullam quis nibh placerat odio blandit tincidunt sed sed arcu. Maecenas a risus vel lacus rhoncus malesuada. Sed in convallis eros, id consectetur arcu. Cras pharetra ante ante, id ultrices nulla gravida ac. Mauris eget euismod mi.

Proin semper dapibus odio sit amet ornare. Vestibulum ac turpis sem. Nunc dapibus enim non nunc semper vulputate. Quisque ac elementum enim. Aenean augue sapien, mollis vitae quam et, sodales dictum ex. Donec pulvinar malesuada auctor. Etiam feugiat varius quam, sed vestibulum mauris dapibus sagittis. Nam non euismod ipsum. Sed aliquam purus in nisi ultricies, quis euismod arcu condimentum.</p>
   <center><h2>To-do open positions</h2></center> 
      <div style="text-align:center;">
  <button>contact us</button> 
      
      </div >
      </div>
      <p>copyright2022,sample</p>
    
    
  </body>
</html>